@import url('https://fonts.googleapis.com/css?family=Khula:400,700&display=swap');


*{
	font-family:'Khula',sans-serif;
}


.meetups{
	font-size:2em;
	font-weight: 700;
}

.wrap{
	padding-right: 30px;
}


.theory{
	font-size:1.3em;
	text-align: justify;
}

.words{
	font-size: 2.0em;
	font-weight: 900;
}


/*
@media only screen and (max-width:600px){
	.row{
		display: flex;
		flex-direction: column;
		flex-direction: row;
		
	}
}*/