@media only screen and (max-width: 600px){
	.course_img{
		height: 250px;
	}

	.tut_det{
		text-align: left;
	}
	
	.tabs{
	    display: flex;
	    flex-direction: column;
  }

  .tabbtn{
  	width: 90%;
  	border-radius: 8px;
  	margin-top:10px;
  }

}