@import url('https://fonts.googleapis.com/css?family=Khula:400,700&display=swap');


*{
	font-family:'Khula',sans-serif;
}


.manager{
	font-size:2em;
	font-weight: 800;
	background: #206a8e;
	padding-left:10px;
	color:#fff;
}

.theory{
	font-size:1.3em;
	text-align: justify;
}

.duties{
	font-size: 1.7em;
	font-weight: 700;
}

.roles{
	font-size: 1.7em;
	font-weight: 700;
}

.debates{
	font-size: 1.3em;
	font-weight: 700;
}

.internships{
	font-size: 1.3em;
	font-weight: 700;
}

.workshops{
	font-size: 1.3em;
	font-weight: 700;
}


.quali{
	font-size: 1.7em;
	font-weight: 700;
}

.remun{
	font-size: 1.7em;
	font-weight: 700;
}

.job{
	font-size: 1.7em;
	font-weight: 700;
}

.location{
	font-size: 1.7em;
	font-weight: 700;
}

ul{
	font-size:1.3em;
	text-align: justify;
}

ul li{
	padding-top:15px;
}

.bracket{
	font-size: 1.3em;
	font-weight: 700;
}





