<!DOCTYPE html>
<html>
<head>
	<title>Dashboard | My Parliament </title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/admin_dashboard.css">
	<link rel="stylesheet" href="../static/css/simple-grid.css">
</head>
<body>


<div class="logo">
	MY <br> PARLIAMENT <sub class="admin_txt">admin</sub>
</div>

<nav>
	<ul class="list">
		<li class="i"><a href="#">Profile</a></li>
		<li><a href="#">LOGOUT</a></li>
	</ul>	
</nav>


<div class="create_opts">
	<a href="/add-course-page"><div>Create Courses</div></a>
	<a href="/add-assignment-page"><div>Create Assignments</div></a>
	<a href="/add-olympiad-page"><div>Create Olympiads</div></a>
	<a href="/add-event-page"><div>Create Events</div></a>
</div>
<br>


<div class="row">
	<div class="col-12 prev_up_h">Previous Uploads</div>
</div>

	<div class="up_courses_sec">
		<div class="up_courses_wrap">
<br>
		<div class="row">
			<div class="col-12 up_courses_h">Uploaded Courses</div>
		</div>



<!-- UPLOADED COURSES -->

<div class="up_courses_box_wrap">
	<div class=" up_course_box">
				<img src="../static/img/course.jpg">
				<div class="course_name">Web Development Course</div> 
				<div class="course_auth">By Random Person</div>
			</div>

			<div class=" up_course_box">
				<img src="../static/img/course.jpg">
				<div class="course_name">Web Development Course</div>
				<div class="course_auth">By Random Person</div>
			</div>

			<div class=" up_course_box">
				<img src="../static/img/course.jpg">
				<div class="course_name">Web Development Course Web Development Course Web Development Course</div>
				<div class="course_auth">By Random Person</div>
			</div>


			<div class=" up_course_box">
				<img src="../static/img/course.jpg">
				<div class="course_name">Web Development Course Web Development Course Web Development Course</div>
				<div class="course_auth">By Random Person</div>
			</div>
			<div class=" up_course_box">
				<img src="../static/img/course.jpg">
				<div class="course_name">Web Development Course Web Development Course Web Development Course</div>
				<div class="course_auth">By Random Person</div>
			</div>
		</div>
	</div>
</div>

<br>

<!-- UPLOADED OLYMPIADS -->

<div class="up_olymp_sec">
		<div class="up_courses_wrap">

		<div class="row">
			<div class="col-12 up_courses_h">Uploaded Olympiads</div>
		</div>



		<div class="up_courses_box_wrap">
			<div class=" up_course_box">
				<img src="../static/img/course.jpg">
				<div class="course_name">Web Development Course</div> 
				<div class="course_auth">By Random Person</div>
			</div>

			<div class=" up_course_box">
				<img src="../static/img/course.jpg">
				<div class="course_name">Web Development Course</div>
				<div class="course_auth">By Random Person</div>
			</div>

			<div class=" up_course_box">
				<img src="../static/img/course.jpg">
				<div class="course_name">Web Development Course Web Development Course Web Development Course</div>
				<div class="course_auth">By Random Person</div>
			</div>


			<div class=" up_course_box">
				<img src="../static/img/course.jpg">
				<div class="course_name">Web Development Course Web Development Course Web Development Course</div>
				<div class="course_auth">By Random Person</div>
			</div>
			<div class=" up_course_box">
				<img src="../static/img/course.jpg">
				<div class="course_name">Web Development Course Web Development Course Web Development Course</div>
				<div class="course_auth">By Random Person</div>
			</div>

		</div>

	</div>
</div>

<br>

<!-- UPLOADES EVENTS -->

<div class="up_events_sec">
		<div class="up_courses_wrap">

		<div class="row">
			<div class="col-12 up_courses_h">Uploaded Olympiads</div>
		</div>



<div class="up_courses_box_wrap">
	<div class=" up_course_box">
				<img src="../static/img/course.jpg">
				<div class="course_name">Web Development Course</div> 
				<div class="course_auth">By Random Person</div>
			</div>

			<div class=" up_course_box">
				<img src="../static/img/course.jpg">
				<div class="course_name">Web Development Course</div>
				<div class="course_auth">By Random Person</div>
			</div>

			<div class=" up_course_box">
				<img src="../static/img/course.jpg">
				<div class="course_name">Web Development Course Web Development Course Web Development Course</div>
				<div class="course_auth">By Random Person</div>
			</div>


			<div class=" up_course_box">
				<img src="../static/img/course.jpg">
				<div class="course_name">Web Development Course Web Development Course Web Development Course</div>
				<div class="course_auth">By Random Person</div>
			</div>
			<div class=" up_course_box">
				<img src="../static/img/course.jpg">
				<div class="course_name">Web Development Course Web Development Course Web Development Course</div>
				<div class="course_auth">By Random Person</div>
			</div>

		</div>
	</div>
</div>





</body>
</html>