<!DOCTYPE html>
<html>
<head>
	<title>Dashboard | My Parliament </title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/admin_add_course.css">
	<link rel="stylesheet" href="../static/css/simple-grid.css">
	<link rel="stylesheet" href="../static/css/simple-grid.css">
</head>
<body>


<div class="logo">
	MY <br> PARLIAMENT <sub class="admin_txt">admin</sub>
</div>

<nav>
	<ul class="list">
		<li class="i"><a href="#">Profile</a></li>
		<li><a href="#">LOGOUT</a></li>
	</ul>	
</nav>

<br>

<div class="row">
	<div class="col-12 up_course_h">UPLOAD COURSE</div>
</div>
<div class="row">
<form action="/add-course" method="POST" class="col-4">
	<input type="text" name="name" placeholder="COURSE NAME"> <br>
	<input type="text" name="author" placeholder="Author NAME"> <br>
	<input type="number" name="duration" placeholder="duration"><br>
	<input type="number" name="fees" placeholder="Fees"><br>
	<input type="text" name="demolink" placeholder="Demo Video Link"><br>
	<textarea placeholder="Enter Description" name="description"></textarea><br>
	<button >ADD Course</button>	
</form>

<form action="/add-week" method="POST" class="col-4">
	<label for="week">SELECT Course: </label>
	<select name="course_id" id="week">
		{% for course in courses %}
		  <option value="{{course.course_id}}">Course : {{course.course_id}}</option>
		{% endfor %}
	</select>
	<br><br>
	<input type="text" name="title" placeholder="COURSE TITLE"><br>
	<textarea placeholder="TITLE DESCRIPTION" name="description"></textarea> <br>
	<input type="text" placeholder="Video Link" name="link" > <br><br>
	<button>ADD Week</button><br><br>

</form>

<form action="/add-lecture-page" method="POST" class="col-2">
	<label for="week">SELECT Course: </label>
	<select name="course_id" id="week">
		{% for course in courses %}
		  <option value="{{course.course_id}}">Course : {{course.course_id}}</option>
		{% endfor %}
	</select>
	<br><br>
	<button>ADD Lecture</button>
</form>
</div>


</body>
</html>