<!DOCTYPE html>
<html>
<head>
	<title>My Parliament - Login </title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/admin_login.css">
	<link rel="stylesheet" href="../static/css/simple-grid.css">
</head>
<body>



		
				<div class="logo">
					MY <br> PARLIAMENT <sub class="admin_txt">admin</sub>
				</div>

		<div class="input_area">
			
					<div class="col-12 wel_txt">
						Welcome Admin,<br>
						<font style="color:#1F618A;">LOGIN</font> to continue
					</div>
				
				<br><br>
			
				<form>
					<input type="email" placeholder="EMAIL ADDRESS"  name="email"> <br>
					<input type="password" placeholder="PASSWORD" name="pass"> <br><br>
					<a href="#">Forgot Password?</a>  <br><br>
					<button class="login_btn">LOGIN</button>
					
				</form>
		</div>





</body>
</html>