 {% extends 'navbar.html' %}
{% block head %}
	<title>My Parliament | Budget Session</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
		
		
		.col-2{display:inline;padding: 30px;font-size: 25px;}
		p{font-size: 28px;}
		.col-4{background-color:  #2068AE;color:white;border: 1px solid black;width: 300px;height: 60px;padding: 10px;font-size: 30px;}

		.apply_btn a{
			color:#fff;
		}

		button{
			cursor:pointer;
		}
		
	</style>
{% endblock %}

{% block body %}	
	<div style="font-size: 22px;margin-top:7%">
		<h1  align="center" style="background-color:rgba(32, 106, 134,1)">BUDGET SESSION 2017</h1>
		Democracy today is taking leaps and strides towards reaching the people of the world. The governance structures of the world are changing, transitions are being made towards freedom of press, emergence of the civil society and awareness of citizen participation. In this vibrant scenario, MY Parliament stays committed to its aim of making youth participation the cornerstone of a rising India and the upcoming Budget Session has been modelled with this objective. <br><br>
		MY Parliament Budget Session simulation is an attempt to make voices heard, to shape opinions within the framework of parliamentary processes and deliberate upon solutions through the lens of the Indian Constitution. MY Parliamentarians will get an opportunity to get acquainted with basic Parliamentary procedures, their translation in legislative parlance and application in the political system. Along with the simulation of the Parliamentary process in the Lok Sabha, there will be debates, panel discussions and Policy Dialogues. <br><br>
		MY Parliament has been conducting such simulations for past two years and we intend to take forward this concept with greater vigor and detail in this Budget Session.<br><br>
		<b>Please go through this manual:</b><a href="">Manual For My Parliament Budget Session</a><br><br>
		<b>The aim of this application is to judge your ability to become a genuine policy - maker. Please fill in the application form honestly.</b>
		You are requested to support your answers with appropriate data! <br>
		Your form will go through a stringent, pre-designed selection process. To improve your chances of selection, answer all the questions carefully and in detail. Submit your application well in advance from the last date, to improve your chances of selection.   



		<b><p>Deadline-21st March,2017</p></b>
		<center><a href="#"><button class="col-4 apply_btn">APPLY NOW</button></a></center>
		<h2>View FAQs<i class="fa fa-arrow-right" style="font-size:24px;"></i></h2>



{% endblock %}