<!DOCTYPE html>
<html>
<head>
	<title>My Parliament - Login </title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/login.css">
	<link rel="stylesheet" href="../static/css/simple-grid.css">
</head>
<body>


<div class="wrap">
		<div class="left_area">
				<div class="logo">
					 MY <br> PARLIAMENT
				</div>

				<!-- <div class="dont_have_acc">
					Don't Have an Account?<br>
					<a href="/get/sign">CREATE NEW ACCOUNT</a>
				</div> -->
		</div>

		<div class="input_area">
			
					<div class="col-12 wel_txt">
						Welcome,<br>
						<font style="color:#1F618A;">Change</font> Password Here
					</div>
				
				<br><br>
			
				<form action="/change-password/{{purpose}}-{{uid}}" method="POST">
					{% if purpose==0 %}
					<input type="password" placeholder="Old PASSWORD" name="oldpasswd"> <br><br>
					{% else %}
					<input type="number" placeholder="OTP" name="otp"> <br><br>
					{% endif %}
					<input type="password" placeholder="New PASSWORD" name="newpasswd"> <br><br>
					<button class="login_btn">Submit</button>
					
				</form>
		</div>
</div>




</body>
</html>