 {% extends 'navbar.html' %}
{% block head %}
	<title>My Parliament | Coffee Meetups</title>
	<link rel="stylesheet" href="../static/css/coffee.css">
	<link rel="stylesheet" href="../static/css/simple-grid.css">
{% endblock %}

{% block body %}
	<div class="wrap" style="margin-top:7%">
    <div class="row">
			<div class="col-12 meetups" align="center" style="background-color:rgba(32, 106, 134,1)">COFFEE MEETUPS</div>
	</div><br>
	<div class="row">
	    <div class="col-12 theory">
	We at MY Parliament believe that active citizenship is a way of life, and not just a subject. We started conducting Coffee Meet ups with the idea of opening space for dialogue and discussions around public policy issues, and reaching to roots of democracy.<br><br>MY Coffee Meet is a series of interactive sessions between MY Parliament Team members, NGO partners, eminent dignitaries & interested individuals to meet like minded people and reflect about their role as active citizens.<br><br><b>Anyone and everyone can be a part of the Coffee Meet.</b>
        </div>
    </div>
	<div class="row">
		<div class="col-12 words"><center>Never doubt that a small group of thoughtful, committed citizens can change the world; indeed, it's the only thing that ever has.<br>
         -<u> Margaret Mead</u></center></div>
	</div><br>
	<div class="row">
		<img class="col-3" src="../static/img/1.jpg">
		<img class="col-3" src="../static/img/2.jpg">
		<img class="col-3" src="../static/img/3.jpg">
		<img class="col-3" src="../static/img/4.jpg">
		
	</div>
	<div class="row">
		<img class="col-3" src="../static/img/5.jpg">
		<img class="col-3" src="../static/img/6.jpg">
		<img class="col-3" src="../static/img/7.jpg">
		<img class="col-3" src="../static/img/8.jpg">
		
	</div>
</div>
{% endblock %}