<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/course_det.css">
	<link rel="stylesheet" href="../static/css/course_det_res.css">
	<link rel="stylesheet" href="../static/css/simple-grid.css">
</head>
<body>
<ul class="course_index">
					<li class="week">About This Course</li>
					<li ><div class="week">Week 1</div>
						<ul>
							<li>Introduction</li>
							<li>Setting Up</li>
							<li>Getting To Know Basics</li>
							<li>Assignment</li>
							<li>Quiz</li>
						</ul>
					</li>
					<li><div class="week">Week 2</div>
					<ul>
							<li>Introduction</li>
							<li>Setting Up</li>
							<li>Getting To Know Basics</li>
							<li>Assignment</li>
							<li>Quiz</li>
						</ul>
					</li>
					<li><div class="week">Week 3</div><ul>
							<li>Introduction</li>
							<li>Setting Up</li>
							<li>Getting To Know Basics</li>
							<li>Assignment</li>
							<li>Quiz</li>
						</ul>
					</li>
					<li><div class="week">Week 4</div><ul>
							<li>Introduction</li>
							<li>Setting Up</li>
							<li>Getting To Know Basics</li>
							<li>Assignment</li>
							<li>Quiz</li>
						</ul>
					</li>
					<li><div class="week">Week 5</div><ul>
							<li>Introduction</li>
							<li>Setting Up</li>
							<li>Getting To Know Basics</li>
							<li>Assignment</li>
							<li>Quiz</li>
						</ul>
					</li>
				</ul>
</body>
</html>