 {% extends 'navbar.html' %}

{% block head %}
<title>My Parliament - Home </title>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="stylesheet" href="../static/css/courses.css">
<link rel="stylesheet" href="../static/css/coursesres.css">
<link rel="stylesheet" href="../static/css/simple-grid.css">
{% endblock %}

{% block body %}
<div class="row course_bar">
	<div class="col-2 courses_h">COURSES</div>
	<div class="col-7"></div>
	<div class="col-3 search_input">
		<input type="text" placeholder="Search" name="search">
		<button class="search_btn">Search</button>
	</div>
</div>


<!-- course Bar ends -->
<br>



<br><br>
<!-- Enrolled Courses Ends -->
<br><br>

<div class="all_courses_sec">
	<div class="all_courses_wrap">
		<div class="row">
			<div class="col-12 all_courses_h">ALL COURSES</div>
		</div>

		<div class="all_courses_cont">
			
			<div class="row">
				{% if courses %}
				{% for course in courses %}
				<a href="/course-details/{{course.course_id}}">
				<div class="col-2 col-5-sm all_course_box">
					<img src="../static/img/course.jpg">
					<div class="course_name_all">{{course.name}}</div>
					<div class="course_auth">By : {{course.author}}</div>
				</div>
				</a>
				{% endfor %}
				{% else  %}
				<h3 align="center">No Events Found</h3>
				{% endif %}

		</div>
		

	</div>
</div>
</div>

		<div class="row"><div class="col-12 center "><button class="see_more_btn">See More</button></div></div>


{% endblock %}
