 {% extends 'navbar.html' %}

{% block head %}
<title>My Parliament - Home </title>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="stylesheet" href="../static/css/courses.css">
<link rel="stylesheet" href="../static/css/coursesres.css">
<link rel="stylesheet" href="../static/css/simple-grid.css">
{% endblock %}

{% block body %}
<!-- <div class="row course_bar">
	<div class="col-2 courses_h">COURSES</div>
	<div class="col-7"></div>
	<div class="col-3 search_input">
		<input type="text" placeholder="Search" name="search">
		<button class="search_btn">Search</button>
	</div>
</div>
 -->

<!-- course Bar ends -->
<div style="margin-top:90px;"></div>





<br><br>
<div class="all_courses_h">All Courses</div>

	<div class="course_cont">

		{% if courses %}
		{% for course in courses %}
		<a href="/course-details/{{course.course_id}}">
			<div class="course_box_wrap">
			    <div class="course_box">
			      <img src="../static/img/1.jpg">
			      <div class="course_det">
			      	<div class="course_name">{{course.name}}</div> 
			      	
			      	<div class="tutor">By {{course.author}}</div>
			      	<div class="dur">{{course.duration}}</div>

			      </div>
			    </div>
	  		</div>
	  	</a>
	  	{% endfor %}
		{% else  %}
		<div style="text-align: center;margin-top:50px;font-family: 'SF';color:#7d7d7d;	">No Courses Found</div>
		{% endif %}




	
	</div>

		{% if courses%}
		<div class="row"><div class="col-12 center "><button class="see_more_btn">See More</button></div></div>
		{% endif %}


{% endblock %}
