<!DOCTYPE html>
<html>
<head>
	<title>My Parliament - Olympiads </title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/courses.css">
	<link rel="stylesheet" href="../static/css/coursesres.css">
	<link rel="stylesheet" href="../static/css/simple-grid.css">

</head>
<body>

<!-- course Bar ends -->
<br>

<div class="abt_courses">
	<div class="abt_courses_wrap">
		<div class="mp_courses_h">My Parliament <br> Olympiads</div>
		<div class="mp_courses_txt">Lorem ipsum dolor sit Amet.Lorem ipsum dolor sit AmetLorem ipsum dolor sit AmetLorem ipsum dolor sit AmetLorem ipsum dolor sit AmetLorem ipsum dolor sit Amet</div>
	</div>
</div>

<br><br>

{% if enrolled_olympiads %}

<div class="enr_courses_sec">
	<div class="enr_courses_wrap">

		<div class="row">
			<div class="col-12 enr_courses_h">MY OLYMPIADS</div>
		</div>



		<div class="enr_courses_box_wrap">

			{% for olympiads in enrolled_olympiads %}

			<div class=" enr_course_box">
				<img src="../static/img/course.jpg">
				<div class="course_name">Web Development Course</div> 
				<div class="course_auth">By Random Person</div>
			</div>
			{% endfor %}
			

		</div>

	</div>
</div>

{% endif %}

<!-- Enrolled Courses Ends -->
<br><br>

<div class="all_courses_sec">
	<div class="all_courses_wrap">
		<div class="row">
			<div class="col-12 all_courses_h">ALL OLYMPIADS</div>
		</div>

		<div class="all_courses_cont">
			<div class="row">
				{% if olympiads %}
				{% for olympiad in olympiads %}

				<div class="col-2 col-5-sm all_course_box">
					<img src="../static/img/course.jpg">
					<div class="course_name_all">{{olympiad.name}}</div>
					<div class="course_auth">By {{olympiad.organizer}}</div>
				</div>
				
				{% endfor %}
				{% else %}
				<h3 align="center">No Olympiads Found</h3>
				{% endif %}

		</div>

	</div>
</div>
</div>

		<div class="row"><div class="col-12 center "><button class="see_more_btn">See More</button></div></div>



		

</body>
</html>