<!DOCTYPE html>
<html>
<head>
	<title>My Parliament - events </title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/courses.css">
	<link rel="stylesheet" href="../static/css/coursesres.css">
	<link rel="stylesheet" href="../static/css/simple-grid.css">

</head>
<body>

<!-- course Bar ends -->
<br>

<div class="abt_courses">
	<div class="abt_courses_wrap">
		<div class="mp_courses_h">My Parliament <br> Events</div>
		<div class="mp_courses_txt">Lorem ipsum dolor sit Amet.Lorem ipsum dolor sit AmetLorem ipsum dolor sit AmetLorem ipsum dolor sit AmetLorem ipsum dolor sit AmetLorem ipsum dolor sit Amet</div>
	</div>
</div>

<br><br>

{% if enrolled_events %}

<div class="enr_courses_sec">
	<div class="enr_courses_wrap">

		<div class="row">
			<div class="col-12 enr_courses_h">MY EVENTS</div>
		</div>



		<div class="enr_courses_box_wrap">

			{% for events in enrolled_events %}
			<a href="/event-details/{{events.events.event_id}}" style="text-decoration: none;" target="_parent">
			<div class=" enr_course_box">
				<img src="../static/img/course.jpg">
				<div class="course_name">{{events.events.name}}</div> 
				<div class="course_auth">By {{events.events.organiser}}</div>
			</div>
		</a>
			{% endfor %}
			

		</div>

	</div>
</div>

{% endif %}

<!-- Enrolled Courses Ends -->
<br><br>

<div class="all_courses_sec">
	<div class="all_courses_wrap">
		<div class="row">
			<div class="col-12 all_courses_h">ALL events</div>
		</div>

		<div class="all_courses_cont">
			<div class="row">
				{% if events %}
				{% for event in events %}
				<a href="/event-details/{{event.event_id}}" style="text-decoration: none;" target="_parent">
				<div class="col-2 col-5-sm all_course_box">
					<img src="../static/img/course.jpg">
					<div class="course_name_all">{{event.name}}</div>
					<div class="course_auth">By {{event.organiser}}</div>
				</div>
				</a>
				{% endfor %}
				{% else %}
				<h3 align="center">No Events Found</h3>
				{% endif %}

		</div>

	</div>
</div>
</div>

		<div class="row"><div class="col-12 center "><button class="see_more_btn">See More</button></div></div>



		

</body>
</html>