{% extends 'navbar.html' %}
{% block head %}
<title>My Parliament - Home </title>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="stylesheet" href="../static/css/courses.css">
<link rel="stylesheet" href="../static/css/coursesres.css">
<link rel="stylesheet" href="../static/css/simple-grid.css">
{% endblock %}

{% block body %}

<div style="margin-top:90px;"></div>





<br><br>
<div class="all_courses_h">All Courses</div>

	<div class="course_cont">

		{% if events %}
		{% for event in events %}
		<a href="/event-details/{{event.event_id}}" target="_parent">
			<div class="course_box_wrap">
			    <div class="course_box">
			      <img src="../static/img/events.jpg">
			      <div class="course_det">
			      	<div class="course_name">{{event.name}}</div> 
			      	
			      	<div class="tutor">By {{event.organiser}}</div>
			      	<div class="dur">20 Sep 2019</div>

			      </div>
			    </div>
	  		</div>
	  	</a>
	  	{% endfor %}
		{% else  %}
		<div style="text-align: center;margin-top:50px;font-family: 'SF';color:#7d7d7d;	">No Events Found</div>
		{% endif %}




	
	</div>

		{% if courses%}
		<div class="row"><div class="col-12 center "><button class="see_more_btn">See More</button></div></div>
		{% endif %}


{% endblock %}
