 {% extends 'navbar.html' %}

{% block head %}
	<title>My Parliament - EVENTS </title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/event_det.css">
	<link rel="stylesheet" href="../static/css/simple-grid.css">
<script type="text/javascript">
	function check_enrollment(){
		var request = new XMLHttpRequest();
	request.open('GET', "/get-enrollment-in-event/{{event.event_id}}");
	request.responseType = 'JSON';

	request.onload = function() {
		var myArr = JSON.parse(this.responseText)
	  document.getElementById("enroll").innerHTML="<a href="+myArr['link']+"><button>"+myArr['data']+"</button></a>"

	};

	request.send();	
	}
	
</script>
<style>
	.event_det .img{
	width:100%;
	height:350px;
	background: url('../static/img/ted.png') no-repeat;
	background-size: cover;
	background-position: center;
	border-top-left-radius: 10px;
	border-top-right-radius:10px;
}
</style>
{% endblock %}
{% block body %}


<div class="event_det" style="margin-top: 7%">
	<div class="img"></div>
	<div class="event_det_wrap">
		<div class="event_name">TEDxHyderabad 2019</div>
		<div class="event_time"> 22 Sep 2019 </div>
		<div class="event_loc">Hyderabad , Telangana , India</div>
	</div>								


</div>

	

<div class="event_desc_wrap">
	<div class="event_desc_cont">
		<div class="desc_h">Event Description</div> <br>
		The only way to discover the limits of the possible is to go beyond them into the impossible.” – Arthur C Clarke
 
		The time may be limited, but the opportunities are limitless.
		The capacity may be limited, but the potential is limitless.
		The intelligence may be limited, but the wisdom is limitless.
		The reality may be limited, but the imagination is limitless.
		The years in life may be limited, but the life is the years is limitless.
		 <br><br>
		Right from being taught to draw inside the lines to follow the societal norms and expectations, we tie ourselves down inside the limits. But have you ever wondered what would Limitless look like to you? It’s time to win over yourself in this game of limits. Challenge the norms, follow your passion, imagine the (im)possibilities, and then go, get them. If you think you can, you CAN. 
		 
		We invite curious and questioning minds to join us in the amazing journey of exploration of defying limits.
		 
		On September 22, 2019 - join us for a full day of brilliant speakers, mind-blowing conversations, thought-provoking videos and fabulous networking opportunities!
	</div>

	<div class="other_det">
		<button class="reg_btn">REGISTER</button> <br><br>
		<div class="date">Start Date : 22-09-2019</div>
		<div class="date">End Date : 23-09-2019</div>
		<div class="date">Price :&#8377; 500</div>
	</div>
</div>


	<div class="sch_wrap">
		<div class="desc_h">Schedule</div> <br>
		<div class="sch">
			<div class="sch_day">
				<span class="sch_day_h">23-Aug-2019</span>
				<span class="sch_desc">Right from being taught to draw inside the lines to follow the societal norms and expectations, we tie ourselves dow</span>
			</div>
		</div>

	</div>

	






<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript">
	{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      swal('{{message}}');
    {% endfor %}
  {% endif %}
{% endwith %}
</script>

{% endblock %}