{% extends 'navbar.html' %}
{% block head %}
	<title>My Parliament | Fellowship | Courses | Olympiads</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/fellowship.css">
	<link rel="stylesheet" href="../static/css/simple-grid.css">


{% endblock %}

{% block body %}


<!-- 	<nav>
			<ul style="margin-left: 600px; margin-top: -50px;">
				<a href=""><b><li class="col-2">Courses</li></b></a>
				<a href=""><b><li class="col-2">Olympiad</li></b></a>
				<a href=""><u><b><li class="col-2">Login</li></b></u></a>
			</ul>
		</nav> -->

		<div class="row" style="margin-top: 7%">
			<div class="col-12 mpf_h"  align="center" style="background-color:rgba(32, 106, 134,1)">My Parliament Fellowship</div>
		</div>

		<div class="row">
			<div class="col-12 mpf_cont">
				<b>MY Parliament Fellowship is a 4 months course in public policy and governance (Theory and Experiential Learning). </b>
					<br><br>

				MY Parliament Fellowship is an opportunity for promising graduates and young working professionals to engage themselves in the policy making process and contribute to a better India. It is a platform for the change makers of tomorrow to get a holistic understanding and experiential learning of governance and public policy. <br><br>

				<b>The fellowship aims at transforming the citizens from passive recipients to active participants in a democracy.</b> <br><br>

				The fellowship is a unique initiative that allows the fellows to interact and learn from various policy think tanks, policy professionals and practitioners from around the world. Subsequently they would be assigned to work on live projects in a selected constituency under the guidance of the respective MPs .
			</div>
		</div>
			<br>



		<div class="prog_off">
			<div class="prog_off_wrap">
				<div class="full_time">
					<div class="full_time_wrap">
						<div class="time_h">Full Time</div>

						<div class="full_time_cont"> 
							The full time programme requires a fellow to be actively associated with the course for a minimum duration of 4 months.

	 						It is an in house resident programme which includes in depth training as well as association with a mentor with whom they get a chance to work around policy implementation and governance.
						</div>
					</div>
				</div>

				<div class="part_time">
					<div class="part_time_wrap">	
						<div class="time_h">Part Time</div>

						<div class="part_time_cont">
							Along with the full time programme, a part time model is also offered for the people who are enthusiastic about policy making and governance but have time constraints.

	 						The part time programme requires a minimum of 3 weeks of participation with at least 8 hours a day of lecture series and training which can be accessed either online or as a resident fellow for the same duration.
						</div>
					</div>
				</div>
			</div>
		</div>
			
			<br><br>
	<div class="how_to_apply">
		<div class="row">
			<div class="col-12 hwa_h">How To Apply?</div>
		</div>

		<div class="row">
			<div class="col-12 ec_h">Eligibility Criteria</div>
		</div>

		<div class="row">
			
				<ul>
					<li> Both Indian citizens and International Participants can apply.</li>
					<li> He/she should have completed an undergraduate degree or should be a  student of final year in his/her course at the time of applying.</li>
					<li>Be between the ages of 18 and 35.</li>
				</ul>
			
		</div>
	</div>

	<br> 

	<div class="app_proc">
		<div class="row">
			<div class="col-12 app_proc_h ">Aplication Procedure </div>
		</div>

		<div class="row">
			<div class="col-12 steps ">Online Application Procedure <br>  &#8897; </div>
		</div>
		<div class="row">
			<div class="col-12 steps">Telephonic Interview <br>  &#8897;  </div>
		</div>
		<div class="row">
			<div class="col-12 steps">In Person / Skype Interview  </div>
		</div>
	</div>

<br>
<div class="faq">
	<div class="row">
		<div class="col-12">View FAQs &#8594;</div>
	</div>
</div>
{% endblock %}