{% extends 'navbar.html' %}

{% block head %}
<title>My Parliament - Home </title>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="stylesheet" href="../static/css/home.css">
<link rel="stylesheet" href="../static/css/homeres.css">
<link rel="stylesheet" href="../static/css/simple-grid.css">
{% endblock %}


{% block body %}
<div class="wrapper">

	<div class="motto">
		<div class="text">
			Shaping Tommorow's <br> Leader Today.
		<br>
		<button class="know_more_btn"> &#9654; Know More</button>
		</div>
	</div>

</div>

<!--About Us Starts  -->

<div class="box">

	<div class="box_wrap">

		<h1 class="m_h">
			OUR <br> <div>MISSION</div>
		</h1>

		<div class="mission ">
			<p class="cont">
				Our Mission is to foster an environment for active participation of youth in democracy and to create a platform for tizen engagement in governance. <br><br>	

				Our goal is to serve as a bridge of ideas between the decision makers of today and the passionate leaders of tomorrow by providing the youth with greater opportunities. Passionate leaders of tomorrow by providing the youth with greater opportunities.of tomorrow by providing the youth with greater opportunities.
			</p>
		</div>

		<div class="who">
			<h1>WHO <br> ARE WE?</h1>
			<p class="cont">
			My Parliament is an effort to bridge the gap between policy makers of today with those of tomorrow. Our aim is to transform India into a participative democracy and hence we chose to start from the grass root level – the youth of India.
			<br> Through numerous seminars, workshops, simulated parliamentary debates on bills and policy making and interaction with public authorities, we get enthusiastic youth of today to understand know-how’s of policy making.
			</p>
		</div>

	</div>
</div>


<!-- EVENTS Section Starts -->

<div class="events_sec">

		<div class="row events_h">
			<div class="col-11">
				EVENTS
			</div>	
		</div>
	<div class="events_wrap">
		<div class="events_table">
			<ul>
				<li><a href="#">My Parliament Winter Session 2016</a></li>
				<li><a href="#">Budget Session <br></a></li>
				<li><a href="#">My Parliament Fellowship 2015</a></li>
				<li><a href="#">Abhivyakti</a></li>
				<li><a href="#">My Parliament Speakers</a></li>
				<li><a href="#">View More</a></li>
			</ul>
		</div>
	</div>
</div>

<!-- Testimonials -->

<div class="test_sec">
	<div class="test_wrap">
		<div class="row">
			<div class="col-1"></div>
			<h1 class="col-3 left see_h">
				<div class="h_bg">
					See What <br> 
					They Say <br> 
					About Us
				</div>
			</h1>

			<!-- <div class="col-2"></div>
			<div class="col-3 test_box">
				"My Parliament is a fantastic effort to bring knowledge of governance and civics to young people of this country. '' 

			</div>

			<div class="col-3 test_box">
				This is a great initiative and initiatives like these should be encouraged. Our ministry will look into ways of supporting them.”
			</div> -->

			
			<div class="col-8 test_cont">
				<div>
					"My Parliament is a fantastic effort to bring knowledge of governance and civics to young people of this country. '' 
					<br><br><br><br>
							-Shri Jayant Sinha, 
							Minister of State 
							for Civil Aviation
				</div>

				<div>
					This is a great initiative and initiatives like these should be encouraged. Our ministry will look into ways of supporting them.”
				</div>	

				<div>
					This is a great initiative and initiatives like these should be encouraged. Our ministry will look into ways of supporting them.”
				</div>

				

			</div>
		</div>
	</div>
</div>


<!-- PARTNERS Section Starts -->

<div class="part_sec">
  <div class="part_sec_wrap">  
    <div class="part_h">
      <div class="p_h">OUR <br> PARTNERS</div>
    </div>

    <div class="part_img">
      <img src="../static/img/ccs.png" class="ccs">
      <img src="../static/img/lmk.png">
      <img src="../static/img/aisec.png"><br>
      <img src="../static/img/gn.png">
      <img src="../static/img/cbga.png">
      <img src="../static/img/tfi.png">
    </div>
  </div>
</div>



<!--  <div class="partners_sec">
 	<div class="partners_wrap row">

 		<h1 class="col-1 p_h">OUR <br> PARTNERS</h1>

 		<div class="col-3"></div>
 		<div class="col-6">
 				<img src="../static/img/ccs.png">
				<img src="../static/img/lmk.png">
				<img src="../static/img/aisec.png">
				<img src="../static/img/gn.png">
				<img src="../static/img/cbga.png">
				<img src="../static/img/tfi.png">
 		</div>
 	</div>
 </div> -->

 <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript">
	{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      swal('{{message}}');
    {% endfor %}
  {% endif %}
{% endwith %}
</script>
{% endblock %}
