<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/home.css">
	<link rel="stylesheet" href="../static/css/homeres.css">
	<link rel="stylesheet" href="../static/css/simple-grid.css">
	<link rel="stylesheet" href="../static/css/navbar.css">
	<link rel="stylesheet" href="../static/css/footer.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<style type="text/css">
   footer a{
		color: white;
		text-decoration: none;
	}
	footer  a:link {
  color: white;
}
footer  a:visited {
  color: white;
}
footer a:hover {
  color: white;
}
footer a:active {
  color: white;
}

</style>
	
	{% block head %}{% endblock %}

</head>
<body>
	<nav>
		<div class="logo" style="color: black;">My Parliament</div>
		
		<!-- <ul class="list">
			<li class="i"><a href="/courses-all">Courses</a></li>
			<li class="i"><a href="/olympiad-all">Olympiad</a></li>
			<li class="i"><a href="/event-all">Events</a></li>
			<li>
				<a href="{{nav_value[1]}}" class="login_btn">{{nav_value[0]}}</a>
			</li>
		</ul> -->

		<ul class="list">
			<li class="i"><a href="/courses-all">Courses</a></li>
			<li class="i"><a href="/olympiad-all">Olympiad</a></li>
			<li class="i"><a href="/event-all">Events</a></li>
			<li>
				<a href="{{nav_value[1]}}" class="login_btn">{{nav_value[0]}}</a>
			</li>
			<li><span class="side_menu" onclick="openNav()">&#9776;</span></li>
		</ul>

	</nav>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/courses-all">Courses
  <a href="/olympiad-all">Olympiad</a>
  <a href="/event-all">Events</a>
  <a href="{{nav_value[1]}}">{{nav_value[0]}}</a>
</div>

	{% block body %}{% endblock %}
<footer>
	<div class="footer_wrap">
	
		<div class="footer_left">
			<div class="footer_logo">My <br> Parliament</div>
		</div>

		<div class="footer_list">
			<div class="footer_list_wrap">

				<ul class="list_one">
					<li><a href="/get/fellowship">Fellowship</a></li>
					<li><a href="/get/budgetsession">BudgetSession</a></li>
					<li><a href="/get/role">Role</a></li>
					<li><a href="/get/whyus">Why Us</a></li>
					<li><a href="/get/coffee">Coffee</a></li>
				</ul>

				<ul class="list_two">
					<li><a href="/get/researchshala">Researchshala</a></li>
					<li><a href="/get/sponsorship">Sponsorship</a></li>
					<li><a href="/get/third_box_internship">ThirdBoxInternship</a></li>
					<li><a href="/get/policy_workshop">PolicyWorkshop</a></li>
					<li><a href="/get/operations_manager">OperationsManager</a></li>
					
				</ul>

			</div>
		</div>

	</div>
	<div class="row">
		<div class="col-12">
			<img src="">
			<img src="">
			<img src="">
		</div>
	</div>
</footer>

<script>




$(window).scroll(function(){
	var scroll =$(window).scrollTop();
	
	if(scroll>120){
		$("nav").addClass("navScroll");
		
	}else{
		$("nav").removeClass("navScroll");
		
	}
});

</script>
</body>
<script type="text/javascript">
  function iframeLoaded() {
      var iFrameID = document.getElementById('loadframe');
      if(iFrameID) {
            iFrameID.height = iFrameID.contentWindow.document.body.scrollHeight+100 + "px";
      }   
  }
</script>


<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "100%";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>

</html>	
	