 {% extends 'navbar.html' %}
{% block head %}
	<title>My Parliament | Operations Manager</title>
	<link rel="stylesheet" href="../static/css/op_manager.css">
		<link rel="stylesheet" href="../static/css/simple-grid.css">
{% endblock %}
 
{% block body %}
 <div style="margin-top:7%;margin-left: 7%;margin-right: 7%">
    <div class="row">
			<div class="col-12 manager" style="background-color:rgba(32, 106, 134,1)">Operations Manager</div>
	</div><br>

	<div class="row">
	    <div class="col-12 theory">
				MY Parliament conducts the series of programmes to foster an environment for active participation of youth and it is seeking anOperations Manager assigned with the duties below.<br>
                The goal of the operations manager will be to supervise all the operations related to successful management of the MY parliament programmes, work on raising awareness about the planned seminars, workshops, simulated parliamentary debates, etc.
             </div>		
    </div>

    <div class="row">
	    <div class="col-12 duties" style="background-color:rgba(32, 106, 134,1)"><b>Duties/Assignments:</b>The Operations Head will:</div>
     </div>

        <div class="row">
                	<ul>
					<li>Oversee the development and execution of project deliverables, lead project planning, budgeting, action plans and monitoring processes.</li>
					<li>Submit activity reports, meeting minutes and financial reports on regular basis to the leadership team.</li>
					<li>Oversee all project activities and be the main contact point for the partners and the field staff.</li>
					<li>Supervise the preparation and submission of annual activity-based projects.</li>
					<li>Manage smooth collaboration of different MY Parliament executives for all required tasks as in requirement of finances, running campaign on social media, creating content.</li>
					<li>Lead and motivate the project team, monitor project activities and project expenditure, and coordinate work with consultants and volunteers in the project.</li>
					<li>Ensure close collaboration and coordination with cooperating partners to guarantee smooth implementation of activities and achievement of results as specified in grant agreements.</li>
					<li>Employ resourcefulness in project design, implementation and monitoring.</li>
				</ul>
		</div>

		<div class="row">
	    <div class="col-12 roles">Specific Roles:</div>
     </div>

     <div class="row">
	    <div class="col-12 debates" style="background-color:rgba(32, 106, 134,1)">1. Simulated parliamentary debates :</div>
     </div>

        <div class="row">
                	<ul>
					<li>Once notified on scheduled event, supervise all the documentation process, floating invite applications, MP application review and selection process, advance logistics arrangements, etc.</li>
					<li>Be at the location of event for the duration and supervise all the arrangements.</li>
					<li>Coordinating with other teams for finance, content creation, social media, etc. for all requirements and channelizing resources to meet the goals on time.</li>
					
				</ul>
		</div>

		<div class="row">
	    <div class="col-12 internships" style="background-color:rgba(32, 106, 134,1)">2. Fellowship program & internships :</div>
     </div>

        <div class="row">
                	<ul>
					<li>Floating applications for interns on need basis (for content writer, web designer, graphic designer) and managing their selection process.</li>
					<li>Assigning appropriate tasks to the interns and introducing them to Team leads.</li>
					<li>Managing the aspirations of the fellows.</li>
					
				</ul>
		</div>

		<div class="row">
	    <div class="col-12 workshops" style="background-color:rgba(32, 106, 134,1)">3. Trainings:Webinars and Workshops :</div>
     </div>

        <div class="row">
                	<ul>
					<li>Floating invites for application for workshop, ensuring maximum participation.</li>
					<li>Manging all logistical arrangements.</li>
					<li>Ensures close collaboration and coordination with cooperating partners to guarantee successful policy workshops.</li>
					
				</ul>
		</div>

		<div class="row">
	    <div class="col-12 quali" style="background-color:rgba(32, 106, 134,1)">Qualifications :</div>
     </div>

        <div class="row">
                	<ul>
					<li>Graduate (Experience preferred)</li>
					<li>Good communication Skills</li>
					<li>Good computer knowledge – Should be able to work with members on remote locations</li>
					<li>Skilled in MS Office (Word, Excel and Power-point)</li>
				</ul>
		</div>

		<div class="row">
			<div class="col-12 remun">Remunerations :  25-30K</div>
	    </div>

	    <div class="row">
			<div class="col-12 job">Job Type : Full Time. 9 Hours (Monday- Saturday)</div> 
         </div>

	    <div class="row">
			<div class="col-12 location">Location: MY Parliament Office, Ghaziabad </div>
		</div>

        <div class="row">
		 <div class="col-12 bracket"> (Please email your details and CV to connect@myparliament.org with the subject line: "Operations Head". )</div>
		</div>

</div>
{% endblock %}