<!DOCTYPE html>
<html>
<head>
	<title>parliament3</title>
	<style></style>
</head>
<body style="padding-left:50px;padding-right: 50px;">
	<h2>My Parliament</h2>
	<div></div>
	<div style="font-size: 25px;">
	<h2>Why Be A Part?</h2>
	Model Youth Parliament experience is one of its kinds where the youth can represent their constituency and get involved in legislative process to understand the nitty-gritty of law-making. This gives them a platform to propose micro and macro solutions to the policy issues that the country faces today and debate constructively around the existing bills.
	<h2>1.Leadership Development</h2>
	The arguments on the bills, the standing committee meetings, the speeches in the parliament and the act of debating and convincing – these opportunities at the simulation help the participants hone their public leadership skills.
	<h2>2.Breakout Sessions and Standing Committee Meetings</h2>
	The pre-event break-out sessions for each individual groups are conducted in the form of party meetings to facilitate the exchange of ideas and learning through the wisdom of panel discussions. Standing Committee Discussions are organized and chaired by the policy experts from civil society organizations. This gives the delegates a life-time opportunity of working with experts and learning through them in an open forum.
	<h2>3.Networking Opportunities and Cross-Cultural Experiences</h2>
	As our delegates are selected through a rigorous online procedure spanning the length and breadth of mother India, this forum proves to be a tremendous networking opportunity for all its stake holders and a chance to co-create a vibrant culture of intellectual discussions on policy making with a nationalist view, keeping aside regionalist and individualistic feelings.

</body>
</html>