 {% extends 'navbar.html' %}
{% block head %}
	<title>My Parliament | Policy Workshops</title>
	<link rel="stylesheet" href="../static/css/policy workshop.css">
		<link rel="stylesheet" href="../static/css/simple-grid.css">
{% endblock %}
 
{% block body %}
    <div class="row" style="margin-top: 7%">
			<div class="col-12 policy">Initiatives-Policy Workshops</div>
	</div><br>
	
    <div class="workshop_wrap">
    	<div class="row ">
    	    <div class="col-12 june"><b>Online Policy Workshop-(30th June 2016)</b></div>
         </div>
        <div class="row">
            <div class="col-12 theory">
                This online policy workshop was hosted by Prachee Mishra, Senior Analyst at PRS on Land Acquisition and Rehabilitation Bill. This was conducted as a training session for participants in Monsoon Session 2016. It saw over 30-35 participants. This workshop helped the participants for better understanding and offered good points of debate for discussion of bills in the session.
            </div>
        </div>
    </div>

     <div class="workshop_wrap">
        <div class="row">
    	   <div class="col-12 august"><b>Online Policy Workshop-(18th August 2016)</b></div>
        </div>
        <div class="row">
           <div class="col-12 theory">
               In light to the recent breakthrough by Indian Parliament, My Parliament invited Dr. Sacchinanada Mukherjee, Associate Professor at NIPFP to conduct a session on ‘What is Goods and Services Tax’. This saw over 40 parcipants.<br>Through these workshops we aim to enable youth question, deliberate and understand various issues of National Importance.
           </div>
        </div>
    </div>

    <div class="workshop_wrap">
        <div class="row">
    	   <div class="col-12 delhi"><b>Policy Workshop at IIT Delhi(6th July 2014)</b></div>
        </div>
        <div class="row">
            <div class="col-12 theory">
                The policy workshop at IIT Delhi was conducted primarily with the aim of bridging the gap of understanding of policy issues. The event was a huge success and saw the participation of over a 100 candidates. The Chief Guest for the event was Mr Pravin Purang, President, IIT Delhi Alumni Association. He talked about the importance of engaging youth in public policy. PRS and CCS were also on hand to talk about topics like the functioning of the Parliament, how to analyse bills, and India’s poverty crisis.
            </div>
         </div>
     </div>

        <div class="workshop_wrap">
         <div class="row">
    	    <div class="col-12 ah"><b>Policy Workshop at IIM Ahemdabad(29th November 2014)</b></div>
         </div>
         <div class="row">
            <div class="col-12 theory">
               The IIM Ahmedabad panel discussion was on the topic of engagement of youth in public policy. The panellists included Lok Satta party’s chairman Dr Jay Prakash Narayan, head of Manipal Global Education- T.V. Mohandas Pai, former Member of Parliament from Sikkim- Prem Das Rai and President of Centre for Civil Society- Parth Shah. The panel discussion was moderated by Kajori Sen of NDTV and Raghav Garg of the DIA initiative.<br>The aim was to develop and discuss ways of engaging the youth more actively and meaningfully in the process of policy making. Some of the methods suggested included the joining of political parties as well as creating more avenues for engagement. At the same time, suggestions like regular meetings with locals MLAs and MPs were also put forward amongst others.
            </div>
         </div>
     </div>

      <div class="workshop_wrap">
         <div class="row">
    	    <div class="col-12 bombay"><b>Policy Workshop at IIT Bombay(December 2014)</b></div>
         </div>
         <div class="row">
             <div class="col-12 theory">
                The workshop at IIT Bombay was conducted with the hope of imparting to the students an understanding of the electoral process, this was in the background of the recently concluded state assembly elections. MY Parliament wanted to engage the youth in discussions regarding electoral reforms which could ensure clean politics in the state.
             </div>
         </div>
     </div>


     
     

{% endblock %}