<!DOCTYPE html>
<html>
<head>
	<title>My Parliament - Profile Update -My Parliament </title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/profUpdate.css">
	<link rel="stylesheet" href="../static/css/simple-grid.css">
</head>
<body>


<div class="wrap center">
			<br><br><br>
					<div class="col-12 wel_txt">
						<font style="color:#2575fc;">UPDATE</font> Your Profile
					</div>
				<br><br>
				<form action="/login" method="POST">
					<input type="text" placeholder="FLAT /HOUSE NO,"  name="addr1"> <br>
					<input type="text" placeholder="AREA /LOCALITY" name="addr2"> <br>
					<input type="text" placeholder="CITY" name="state"> <br>
					<input type="text" placeholder="STATE" name="state"> <br>
					<input type="number" placeholder="PINCODE" name="pin"> <br><br><br>
					<button class="login_btn">UPDATE</button>
<!--					<br><br>

					<a href="/forgot-password-page" style="font-size:1.5em;color:#808080;">SKIP</a>  <br><br>			-->
				</form>

</div>


</body>
</html>
