 {% extends 'navbar.html' %}
{% block head %}
	<title>My Parliament | Researchshala</title>
	<link rel="stylesheet" href="../static/css/researchshala.css">
		<link rel="stylesheet" href="../static/css/simple-grid.css">
{% endblock %}
 
{% block body %}
 
    <div class="row">
			<div class="col-12 research"><center>RESEARCHSHALA</center></div>
	</div><br>
	<div class="row">
			<div class="col-12 theory"><center>PROGRAM DURATION: 12TH SEPTEMBER – 23RD OCTOBER, 2016<br>6 PROJECTS.6 INTERNS.6 MENTORS. 6 WEEKS</center></div>
	</div><br>

	<div class="row">
			<div class="col-12 theory">This is a 6 weeks part-time online research opportunity to investigate, examine and report latest information on public policy in India. Each intern will be provided a comprehensive learning experience and a chance to contribute in change making process.</div>
	</div><br>
	<div class="row">
		<center><a href=""><button class="b1">Apply Now</button></a></center>
	</div>

	<div class="row">
			<div class="col-12 highlights"><center>Highlights of the Program:</center></div>
	</div><br>
<div class="row">
		<div class="col-4 block1">
			<h2><div class="heading1">What is "Research Shala"?</div></h2><br>Research shala is a 6 week program where 6 interns will be hired and each intern will be provided a comprehensive learning experience and get chances to contribute in change making process.<br>6 different roles and responsibilities will be assigned to each intern.<br>Every intern shall have a mentor of their own to report their regular findings and each mentor will guide the interns at every step.<br><br>
		</div>
			
		
		<div class="col-4 block2">
			<h2><center>Opportunity to investigate various subjects on Indian Governance and Policy</center></h2>Chance to interact with renowned Member of Parliamentarians and public policy experts<br>Continuous mentorship and personal guidance from the MY Parliament team<br>Best articles/case-studies will be published across various portals<br>Nomination in the national level simulation as a Cabinet Minister<br>Work with leading researchers in the policy space who will mentor interns through the process<br><br>
		    <center><a href=""><button class="b2">Apply Now</button></a></center>
	    </div>
	    <div class="col-3 block3">
			<h2><div class="heading2">How will it help you?</div></h2>It is an initiative by MY Parliament to engage youth in Policy making environment and spread awareness of its form and procedures.<br>Through this young people will be directly involved in parliamentary processes.<br>On the basis of performance of each candidate, they will be offered a position in Cabinet Secretariat in the next session.<br>With this we aim to bridge the gap between the policy makers of today with tomorrow.<br> 
		</div>
			
</div>
<div class="images">
<div class="row">
	<img class="col-3" src="C:\Users\HP\Desktop\project parliament\static\images\investigator.png">

	<img class="col-3" src="C:\Users\HP\Desktop\project parliament\static\images\reporter.png">
	<img class="col-3" src="C:\Users\HP\Desktop\project parliament\static\images\doer.png">
</div>
<div class="row">
	<img class="col-3" src="C:\Users\HP\Desktop\project parliament\static\images\editor.png">
	<img class="col-3" src="C:\Users\HP\Desktop\project parliament\static\images\enlightner.png">
	<img class="col-3" src="C:\Users\HP\Desktop\project parliament\static\images\guide.png">
</div>	
</div>
{% endblock %}