 {% extends 'navbar.html' %}
{% block head %}
	<title>My Parliament | Role</title>
{% endblock %}
 
{% block body %}
	<div style="font-size: 22px;margin-top:7%;margin-left: 7%;margin-right: 7%">
	<h1 align="center">Research and Content Writer</h1>
	<h2 align="center" style="background-color:rgba(32, 106, 134,1)">Purpose of a Role</h2>
	Research and content writer associates supervise research projects and work with team members to ensure that the project remains on schedule. They help determine the goals of the research project as well as research methods and other test parameters. Research associates will also review and analyze data during the course of the project. The Research and Content Writer - researches, creates, develops and manages content for organization's web/Print presence.
	<h2 align="center" style="background-color:rgba(32, 106, 134,1)">Key Responsibilities</h2>
	<ul>
	<li>To identify project goals, research methods, variables, and other test parameters.</li><br>
	<li>To collect data and offer recommendations on evaluating the project.</li><br>
    <li>Continuous monitoring of efficacy of content and communication delivery to check consumption and plan for improvisation.</li><br>
    <li>Continuously innovating and refreshing content delivery.</li><br>
    <li>Perform ad hoc research to develop and produce new web based and print content.</li><br>
    <li>Function as moderator and administrator for blogs.</li><br>
    <li>Develop content to demonstrate organization’s impact on industry.</li><br>
    <li>Draft and edit assigned editorials, talking points and press releases.</li><br>
    <li>Take overall responsibility for the website and social media.</li><br>
    <li>Create and post timely content on organization’s website.</li><br>
    <li>Utilize industry and organizational knowledge to develop ideas and content.</li><br>
    </ul>
    <h2 align="center" style="background-color:rgba(32, 106, 134,1)">Requirements</h2>
    <ul>
    	<li>Have experience in writing and content compliance.</li><br>
		<li>Have excellent communication skills, both verbal & written</li><br>
		<li>Be an excellent team player and have interpersonal skills, but also self-motivated and able to work autonomously.</li><br>
		<li>Possess the ability to work to deadlines, while remaining calm under pressure.</li><br>
    </ul>
</div>
{% endblock %}