<!DOCTYPE html>
<html>
<head>
	<title>parliament5</title>
	<link rel="stylesheet" href="../static/css/sponsorship.css">
	<link rel="stylesheet" href="../static/css/simple-grid.css">
</head>
<body>
	<h3>My Parliament</h3>

	<div class="row">
			<div class="col-12 sp_h">Sponsorship And Partnership</div>
	</div><br>

	<div class="row">
			<div class="col-12 por_h">
				<b>Purpose of a Role</b>
					<br><br>
					This is an exciting opportunity for a dynamic and motivated fundraiser to play a pivotal role in the growth of a leading national Non-Profit Organization working in the field of politics and policy formulation. MY Parliament is seeking a dedicated and capable fundraiser who will be responsible for raising sponsorships in money or kind and look for appropriate partnerships for MY Parliament Winter Session 2016.<br><br>

                    The post will involve working remotely with occasional meetings with the Executive Team. Regular communication will be via email, Skype and telephone.<br><br>
            </div>
    </div>                
                 

                <div class="row">
			      <div class="col-12 kr_h"><b>KEY RESPONSIBILITIES</b></div>
		        </div>

                <div class="row">
                	<ul>
					<li>Develop standardized fundraising and publicity materials for awareness and fundraising</li>
					<li>Develop and deliver a comprehensive and coherent fundraising strategy</li>
					<li>Carry out prospect research and develop a comprehensive fundraising database</li>
					<li>Continually seek new and appropriate contacts and partnerships with relevant individuals or organizations</li>
					<li>Ensure the organization’s cash flow and financial sustainability</li>
				</ul>
			
		     </div>
		     <div class="row">
		     	<div class="col-12 rm_h"><b>REQUIREMENTS</b></div>
		     </div>

		     <div class="row">
                	<ul>
					<li>Excellent planning, time management and organizational abilities</li>
					<li>Highly motivated and able to work independently to agreed goals and targets and take ownership of the overall fundraising programme of the organization</li>
					<li>Excellent communication and interpersonal skills</li>
					<li>Able to work under pressure, meeting key project and reporting deadlines</li>
					<li>Good organizational and project management skills</li>
				</ul>
			
		     </div>

		     <div class="row">
			<div class="col-12 qs_h"><b>Qualifications Sought:</b>Candidates for this role would be expected to possess the following experience and qualification :
    </div>

		</div>

		<div class="row">
                	<ul>
					<li>A strong track record of securing funding for charitable or NGO activities from a variety of funding streams</li>
					<li>A strong portfolio of communication and awareness-raising materials</li>
					<li>A relevant qualification in fundraising (desirable)</li>
				</ul>
			
		     </div>

		     <div class="row">
			<div class="col-12 lt_h"><b>Location:</b>Delhi NCR</div>
             </div><br>
             <br>


              <div class="row">
			<div class="col-12 eo_h"><b>Emoluments offered:</b>Flexible depending on qualifications and ability</div>
</div>
</body>
</html>